<!DOCTYPE html>
<html>
<head>
  <title>Piano Interactivo</title>
  <style>
    .piano-key {
      width: 50px;
      height: 200px;
      background-color: white;
      border: 1px solid black;
      display: inline-block;
    }
    .black-key {
      width: 30px;
      height: 130px;
      background-color: black;
      position: relative;
      top: -130px;
      left: -15px;
      z-index: 1;
    }
  </style>
</head>
<body>
  <h1>Piano Interactivo</h1>
  <div class="piano">
    <div class="piano-key" data-note="C"></div>
    <div class="piano-key black-key" data-note="C#"></div>
    <!-- Agrega más teclas del piano aquí -->
  </div>

  <script>
    // Objeto que contendrá los sonidos para cada nota
    const sounds = {};

    // Función para cargar los sonidos
    function loadSounds() {
      const notes = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B'];

      // Cargar los sonidos para cada nota en el objeto 'sounds'
      notes.forEach(note => {
        const sound = new Audio(`path/sonidos/${note}.mp3`);
        sounds[note] = sound;
      });
    }

    // Función para reproducir el sonido de una nota
    function playSound(note) {
      if (sounds[note]) {
        const sound = sounds[note];
        sound.currentTime = 0; // Reinicia el sonido si ya está sonando
        sound.play();
      }
    }

    // Cargar los sonidos al cargar la página
    window.addEventListener('load', () => {
      loadSounds();
    });
  </script>
</body>
</html>
